<div class="flex flex-column align-items-center justify-content-center m-auto w-10 md:w-5">
  <h2>Medals per Country</h2>
  <hr />


  <div class="flex ">
    <div class="border-cyan-500 border-3 border-round font-bold m-1 p-2 flex flex-column justify-content-center align-items-center">
      <span class="text-white">Number of JOs</span>
      {{numberOfJOs}}
    </div>
  <div class="border-cyan-500 border-3 border-round font-bold m-1 p-2 flex flex-column justify-content-center align-items-center">
    <span class="text-white">Number of countries</span>
    {{numberOfCountries}}
  </div>
  </div>

  <p-chart type="pie" [data]="data"  (onDataSelect)="selectData($event)"  [style]="{'width': '100%'}"></p-chart>
</div>
